'''
TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.
2. Check if a string is a palindrome.
3. Convert a string to uppercase.
4. Convert a string to lowercase.
5. Count the number of vowels in a string.
6. Count the number of consonants in a string.
7. Remove all whitespaces from a string.
8. Find the length of a string without using the `len()` function.
9. Check if a string contains a specific word.
10. Replace a word in a string with another word.
11. Count the occurrences of a word in a string.
12. Find the first occurrence of a word in a string.
13. Find the last occurrence of a word in a string.
14. Split a string into a list of words.
15. Join a list of words into a string.
16. Convert a string where words are separated by spaces to one where words
are separated by underscores.
17. Check if a string starts with a specific word or phrase.
18. Check if a string ends with a specific word or phrase.
19. Convert a string to title case (e.g., "hello world" to "Hello World").
20. Find the longest word in a string.
21. Find the shortest word in a string.
22. Reverse the order of words in a string.
23. Check if a string is alphanumeric.
24. Extract all digits from a string.
25. Extract all alphabets from a string.
26. Count the number of uppercase letters in a string.
27. Count the number of lowercase letters in a string.
28. Swap the case of each character in a string.
29. Remove a specific word from a string.
30. Check if a string is a valid email address.
31. Extract the username from an email address string.
32. Extract the domain name from an email address string.
33. Replace multiple spaces in a string with a single space.
34. Check if a string is a valid URL.
35. Extract the protocol (http or https) from a URL string.
36. Find the frequency of each character in a string.
37. Remove all punctuation from a string.
38. Check if a string contains only digits.
39. Check if a string contains only alphabets.
40. Convert a string to a list of characters.
41. Check if two strings are anagrams.
42. Encode a string using a Caesar cipher.
43. Decode a Caesar cipher encoded string.
44. Find the most frequent word in a string.
45. Find all unique words in a string.
46. Count the number of syllables in a string.
47. Check if a string contains any special characters.
48. Remove the nth word from a string.
49. Insert a word at the nth position in a string.
50. Convert a CSV string to a list of lists.'''

In [1]:
# '1. Write a program to reverse a string.'
s="Stringsss"
s[::-1]

'sssgnirtS'

In [2]:
# '2. Check if a string is a palindrome.'
s=str(input("Enter a string: "))
if s == s[::-1]:
    print("string is a palindrome")
else:
    print("string is not a palindrome")

Enter a string: bob
string is a palindrome

In [3]:
# '3. Convert a string to uppercase.'
s=" this is a string"
s.upper()

' THIS IS A STRING'

In [4]:
# '4. Convert a string to lowercase.'
s=" This IS ALSO a string"
s.lower()

' this is also a string'

In [5]:
# '5. Count the number of vowels in a string.'
s="This is a string and we need to count the voewls"
k="aeiouAEIOU"

count=0
for i in s:
    if i in k:
        count=count+1
count

14

In [6]:
# 6. Count the number of consonants in a string.
s="This is a string and we need to count the voewls"
k="aeiouAEIOU"

count=0
for i in s:
    if i not in k:
        count=count+1
count

34

In [7]:
# 7. Remove all whitespaces from a string
s="This is a string and we need to Remove all whitespaces from     it   "
s.replace(" ","")

'ThisisastringandweneedtoRemoveallwhitespacesfromit'

In [8]:
#8. Find the length of a string without using the `len()` function.
s='Find the length of a string without using the `len()` function.'
count=0
for i in s:
    count+=1
count

63

In [10]:
#9. Check if a string contains a specific word.
s='Check if a string contains a specific word.'
k=str(input("enter the word: "))

if k in s:
    print("String Contains the word i.e",k)
else:
    print("String does not Contains the word i.e",k)

enter the word: if
String Contains the word i.e if

In [11]:
#10. Replace a word in a string with another word.
s="Replace a word in a string"
s.replace("Replace","done")

'done a word in a string'

In [12]:
# 11. Count the occurrences of a word in a string.
s='Count the occurrences of a word in a string'
s.count('s')

2

In [13]:
# 12. Find the first occurrence of a word in a string.
s='Find the first occurrence of a word in a string'
s.find('the')

5

In [14]:
# 13. Find the last occurrence of a word in a string.
s='Findg the last occurrence of a word in a string'
s.rfind('n')

45

In [15]:
# 14. Split a string into a list of words.
s='14. Split a string into a list of words.'
s.split()

['14.', 'Split', 'a', 'string', 'into', 'a', 'list', 'of', 'words.']

In [16]:
# 15. Join a list of words into a string.
l=['satya','brat','need','join']
' '.join(l)

'satya brat need join'

In [17]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.
s='Convert_a_string_where_words_are_separated_by_spaces_to_one_where_words_are_separated_by_underscores'
s.replace("_"," ")

'Convert a string where words are separated by spaces to one where words are separated by underscores'

In [18]:
# 17. Check if a string starts with a specific word or phrase.
s='Check if a string starts with a specific word or phrase.'
s.startswith('Check if')

True

In [19]:
# 18. Check if a string ends with a specific word or phrase.
s='Check if a string ends with a specific word or phrase.'
s.endswith('ase.')

True

In [20]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
s='Convert a string to title case (e.g., "hello world" to "Hello World").'
s.title()

'Convert A String To Title Case (E.G., "Hello World" To "Hello World").'

In [21]:
#20. Find the longest word in a string.
s=' Find the longest word in a string'
s.split()
l=[]
for i in s.split():
    l.append(len(i))
s.split()[l.index(max(l))]

'longest'

In [22]:
# 21. Find the shortest word in a string.
s='Find the shortest word in a string'
s.split()
l=[]
for i in s.split():
    l.append(len(i))
s.split()[l.index(min(l))]

'a'

In [23]:
# 22. Reverse the order of words in a string.
s=' Reverse the order of words in a string.'
" ".join(s.split()[::-1])

'string. a in words of order the Reverse'

In [24]:
#23. Check if a string is alphanumeric.
s='Check if a string isg23521  alphanumeric'
n='0123456789'
r=0
for i in s:
    if i in n:
        r=r+1
if r>0:
    print("String is alpha numeric")
else:
    print("String is not alpha numeric")

String is alpha numeric

In [25]:
# 24. Extract all digits from a string.
s='24. Extr56act all 47udigits fro657m a 574tring.'
n='0123456789'

for i in s:
    if i in n:
        print(i)

2
4
5
6
4
7
6
5
7
5
7
4

In [26]:
# 25. Extract all alphabets from a string.

s='24. fro657m a 574tring.'
n='0123456789'

for i in s:
    if i not in n:
        print(i)

.

f
r
o
m

a

t
r
i
n
g
.

In [27]:
# 26. Count the number of uppercase letters in a string.
s='Count the ss122MumbEr of upPercase 46556 letTErs in a sUYTing.'
u='ABCDEFGHIJKLMNOPQRSTUVWXYZ'

count = 0
for i in s:
    if i in u:
        count=count+1
print(count)

9

In [28]:
# 27. Count the number of lowercase letters in a string.
s='Count the MumbEr of a43564 upPercase letTErs in a sUYTing.'
u='abcdefghijklmnopqrstuvwxyz'

count = 0
for i in s:
    if i in u:
        count=count+1
print(count)

34

In [29]:
# 28. Swap the case of each character in a string.
s='28. Swap The CASE of each CHAracter in a sTRing.'
s.swapcase()

'28. sWAP tHE case OF EACH chaRACTER IN A StrING.'

In [30]:
# 29. Remove a specific word from a string.
s="29. Remove a specific word from a string."

s.replace("specific","new")

'29. Remove a new word from a string.'

In [31]:
#30. Check if a string is a valid email address.
s=str(input("Enter your email id: "))

if '@'in s and s.endswith('.com'):
    print("The email address is valid")
else:
     print("The email address is not valid")

Enter your email id: pradhan.satyabrat@gmail.com
The email address is valid

In [32]:
# 31. Extract the username from an email address string.
s=str(input("Enter your email id: "))
un=s.split(sep='@')[0]
print("your user name is : ", un)

Enter your email id: pradhan.satyabrat@gmail.com
your user name is :  pradhan.satyabrat

In [33]:
#32. Extract the domain name from an email address string.
s=str(input("Enter your email id: "))
un=s.split(sep='@')[1]
print("your domain name is : ", un)

Enter your email id: pradhan.satyabrat@gmail.com
your domain name is :  gmail.com

In [34]:
# 33. Replace multiple spaces in a string with a single space.
s='33. Replace     multiple   spaces in a   string with a          single space.  '
" ".join(s.split())

'33. Replace multiple spaces in a string with a single space.'

In [35]:
# 34. Check if a string is a valid URL.
s=str(input("Enter a URL: "))

if s.startswith('www.') or  s.startswith('https://www.') or  s.startswith('http://www.') and s.endswith('.com'):
    print("The URL is valid")
else:
     print("The URL is not valid")

Enter a URL: https://www.youtube.com/
The URL is valid

In [36]:
# 35. Extract the protocol (http or https) from a URL string.
s=str(input("Enter a URL: "))
s.split(sep=':')[0]

Enter a URL: https://www.youtube.com/

'https'

In [37]:
# 36. Find the frequency of each character in a string.
s='Find the frequency of each character in a string.'
l={}
for i in s:
    if i in l:
        l[i]=l[i]+1
    else:
        l[i]=1
print(l)

{'F': 1, 'i': 3, 'n': 4, 'd': 1, ' ': 8, 't': 3, 'h': 3, 'e': 5, 'f': 2, 'r': 4, 'q': 1, 'u': 1, 'c': 4, 'y': 1, 'o': 1, 'a': 4, 's': 1, 'g': 1, '.': 1}

In [38]:
#37. Remove all punctuation from a string.
s= "!Remo}ve_ a.ll^& pun$ctu....ation fr!!!!om a string~. "

p=['!','"','#','$','%','&','(',')','*','+','-','.',',','/',':',';','<','=','>','?','@','^','_','`','{','|','}','~']

k=[]
for i in list(s):
    if i not in p:
        k.append(i)
"".join(k)

'Remove all punctuation from a string '

In [39]:
# 38. Check if a string contains only digits.

s="38. Check if a string contains only digits"
d='1234567890 '

k=[]
for i in list(s):
    if i not in d:
        k.append(i)
if len(k)==0:
    print ("the string contains only digits")
else:
    print ("the string does not contains only digits")

the string does not contains only digits

In [40]:
# 39. Check if a string contains only alphabets.

s='Check if a string contains only alphabets'
u='abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ '

k=[]
for i in list(s):
    if i not in u:
        k.append(i)
if len(k)==0:
    print ("the string contains only alphapets")
else:
    print ("the string does not contains only alphapets")

the string contains only alphapets

In [41]:
# 40. Convert a string to a list of characters.
s='to a list of characters.'
print(list(s))

['t', 'o', ' ', 'a', ' ', 'l', 'i', 's', 't', ' ', 'o', 'f', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', '.']

In [42]:
# 41. Check if two strings are anagrams.
s1="below or"
s2="elbow ro"

if sorted(s2)==sorted(s1):
    print("strings are anagrams")
else:
    print('strings are not anagrams')

strings are anagrams

In [43]:
# 42. Encode a string using a Caesar cipher.

uppercase = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
lowercase = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',' ']

def encode (text,step):
    out=[]
    
    for i in text:
        if i in uppercase:
            index=uppercase.index(i)
            crypting=(index+step)%26
            n = uppercase[crypting]
            out.append(n)
        elif i in lowercase:
            index=lowercase.index(i)
            crypting=(index+step)%27
                        
            n = lowercase[crypting]
            out.append(n)

    return out
k=encode('All is Well',6)
''.join(k)

'GrrfoyfCkrr'

In [44]:
# 43. Decode a Caesar cipher encoded string.

uppercase = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
lowercase = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',' ']

def decode (text,step):
    out=[]
    
    for i in text:
        if i in uppercase:
            index=uppercase.index(i)
            crypting=(index+26-step)%26
            n = uppercase[crypting]
            out.append(n)
        elif i in lowercase:
            index=lowercase.index(i)
            crypting=(index+27-step)%27
                        
            n = lowercase[crypting]
            out.append(n)

    return out
k=decode('GrrfoyfCkrr',6)
''.join(k)

'All is Well'

In [45]:
# 44. Find the most frequent word in a string.
s="Find the most frequent word in a string Find the most  string frequent frequent"

l={}
for i in s.split():
    if i in l:
        l[i]=l[i]+1
    else:
        l[i]=1
max(l, key=l.get)

'frequent'

In [46]:
# 45. Find all unique words in a string.
s= "Find all unique words in a string string string unique words"
uw=[]
for i in s.split():
    if i not in uw:
        uw.append(i)
uw

['Find', 'all', 'unique', 'words', 'in', 'a', 'string']

In [47]:
# 46. Count the number of syllables in a string.

def syllable_count(word):
    word = word.lower()
    count = 0
    vs = "aeiouy"
    if word[0] in vs:
        count += 1
    for index in range(1, len(word)):
        if word[index] in vs and word[index - 1] not in vs:
            count += 1
    if word.endswith("e"):
        count -= 1
    if count == 0:
        count += 1
    return count

print(syllable_count('Satya'))

2

In [48]:
# 47. Check if a string contains any special characters.
s='47Check if a string contains any special characters'
c=['!','"','#','$','%','&','(',')','*','+','-','.',',','/',':',';','<','=','>','?','@','^','_','`','{','|','}','~']

count=0
for i in c:
    if i in s:
        count=count+1
if count>0:
    print('string contains special characters')
else:
    print('string does not contain any special characters')

string does not contain any special characters

In [49]:
# 48. Remove the nth word from a string.
s='# 48. Remove the nth word from a string.'
k =s.split()
n=4
del k [n+1]
' '.join(k)

'# 48. Remove the nth from a string.'

In [50]:
#49. Insert a word at the nth position in a string.
s='49. Insert a word at the nth position in a string.'
k =s.split()
n=7
k.insert(n+1, 'Newaaa')
' '.join(k)

'49. Insert a word at the nth position Newaaa in a string.'

In [51]:
# 50. Convert a CSV string to a list of lists
# used upload method to import csv to jupiter notebook as I avoided to use any package
with open('sample.csv', 'r') as f:
    results = []
    for line in f:
            words = line.split(',')
            results.append((words[0], words[1:]))
results

FileNotFoundError: [Errno 2] No such file or directory: 'sample.csv'

List Based Practice Problem :
1. Create a list with integers from 1 to 10.
2. Find the length of a list without using the `len()` function.
3. Append an element to the end of a list.
4. Insert an element at a specific index in a list.
5. Remove an element from a list by its value.
6. Remove an element from a list by its index.
7. Check if an element exists in a list.
8. Find the index of the first occurrence of an element in a list.
9. Count the occurrences of an element in a list.
10. Reverse the order of elements in a list.
11. Sort a list in ascending order.
12. Sort a list in descending order.
13. Create a list of even numbers from 1 to 20.
14. Create a list of odd numbers from 1 to 20.
15. Find the sum of all elements in a list.
16. Find the maximum value in a list.
17. Find the minimum value in a list.
18. Create a list of squares of numbers from 1 to 10.
19. Create a list of random numbers.
20. Remove duplicates from a list.
21. Find the common elements between two lists.
22. Find the difference between two lists.
23. Merge two lists.
24. Multiply all elements in a list by 2.
25. Filter out all even numbers from a list.
26. Convert a list of strings to a list of integers.
27. Convert a list of integers to a list of strings.
28. Flatten a nested list.
29. Create a list of the first 10 Fibonacci numbers.
30. Check if a list is sorted.
31. Rotate a list to the left by `n` positions.
32. Rotate a list to the right by `n` positions.
33. Create a list of prime numbers up to 50.
34. Split a list into chunks of size `n`.
35. Find the second largest number in a list.
36. Replace every element in a list with its square.
37. Convert a list to a dictionary where list elements become keys and their indices become values.
38. Shuffle the elements of a list randomly.
39. Create a list of the first 10 factorial numbers.
40. Check if two lists have at least one element in common.
41. Remove all elements from a list.
42. Replace negative numbers in a list with 0.
43. Convert a string into a list of words.
44. Convert a list of words into a string.
45. Create a list of the first `n` powers of 2.
46. Find the longest string in a list of strings.
47. Find the shortest string in a list of strings.
48. Create a list of the first `n` triangular numbers.
49. Check if a list contains another list as a subsequence.
50. Swap two elements in a list by their indices.

In [52]:
#1. Create a list with integers from 1 to 10.
l=list(range(1,11))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
# 2. Find the length of a list without using the `len()` function.
l=list(range(1,11))
count=0
for i in l:
    count+=1
count

10

In [54]:
# 3. Append an element to the end of a list.
l=list(range(1,11))
l.append('Newaaa')
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Newaaa']

In [55]:
# 4. Insert an element at a specific index in a list.
l=list(range(1,11))
n=7
l.insert(n, 'element')
l

[1, 2, 3, 4, 5, 6, 7, 'element', 8, 9, 10]

In [56]:
# 5. Remove an element from a list by its value.
l=list(range(1,11))
v=5
l.remove(v)
l

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [57]:
# 6. Remove an element from a list by its index.
l=list(range(1,11))
n=4
del l[n]
l

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [58]:
# 7. Check if an element exists in a list.
l=list(range(1,11))
n=4

if n in l:
    print('element exists in the list')
else:
    print('element does not exists in the list')

element exists in the list

In [59]:
# 8. Find the index of the first occurrence of an element in a list.
l=list(range(1,11))
n=4
l[n]

5

In [60]:
# 9. Count the occurrences of an element in a list.
l=['apple','bannana','apple','grapes']
m={}
for i in l:
    if i in m:
        m[i]=m[i]+1
    else:
        m[i]=1
m

{'apple': 2, 'bannana': 1, 'grapes': 1}

In [61]:
# 10. Reverse the order of elements in a list.
l=list(range(1,11))
l[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [62]:
# 11. Sort a list in ascending order.
l=[1,2,5,9,6,5]
l.sort()
l

[1, 2, 5, 5, 6, 9]

In [63]:
# 12. Sort a list in descending order.
l=[1,2,5,9,6,5]
l.sort(reverse=True)
l

[9, 6, 5, 5, 2, 1]

In [64]:
# 13. Create a list of even numbers from 1 to 20.
list(range(2,22))[::2]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [65]:
# 14. Create a list of odd numbers from 1 to 20.
list(range(1,21))[::2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [66]:
# 15. Find the sum of all elements in a list.
l=[1,2,5,9,6,5]
s=0
for i in l:
    s=s+i
s

28

In [67]:
#16. Find the maximum value in a list.
l=[1,2,5,9,6,5]
s=l[0]
for i in l:
    if i>s:
        s=i
s

9

In [68]:
# 17. Find the minimum value in a list.
l=[1,2,5,9,6,-55]
s=l[0]
for i in l:
    if i<s:
        s=i
s

-55

In [69]:
# 18. Create a list of squares of numbers from 1 to 10.
l=[]
for i in list(range(1,11)):
    s=i*i
    l.append(s)
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
# 19. Create a list of random numbers.
import random
r = []
for i in range(10):
    r.append(random.randint(1,100))
r

[34, 93, 71, 60, 72, 2, 34, 90, 46, 48]

In [71]:
# 20. Remove duplicates from a list.
l=['apple','bannana','apple','grapes']
list(set(l))

['grapes', 'apple', 'bannana']

In [72]:
# 21. Find the common elements between two lists.
l1=[1,2,3,4,5,6,7,8,9,5]
l2=[5,5,6,7,8,9,0,11,12,24]
c=[]
for i in l1:
    if i in l2:
        if i not in c:
            c.append(i)
c

[5, 6, 7, 8, 9]

In [73]:
# 22. Find the difference between two lists.
l1=[1,2,3,4,5,6,7,8,9,5]
l2=[5,5,6,7,8,9,0,11,12,24]
c=[]
for i in l1:
    if i not in l2:
        if i not in c:
            c.append(i)
for i in l2:
    if i not in l1:
        if i not in c:
            c.append(i)            
c

[1, 2, 3, 4, 0, 11, 12, 24]

In [74]:
# 23. Merge two lists.
l1=[1,2,3,4,5,6,7,8,9,5]
l2=[5,5,6,7,8,9,0,11,12,24]
l1+l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 5, 5, 6, 7, 8, 9, 0, 11, 12, 24]

In [75]:
# 24. Multiply all elements in a list by 2.
l=[1,2,3,4,5,6,7,8,9,5]
m=[]
for i in l:
    c=i*2
    m.append(c)
m

[2, 4, 6, 8, 10, 12, 14, 16, 18, 10]

In [76]:
# 25. Filter out all even numbers from a list.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 5, 5, 6, 7, 8, 9, 0, 11, 12, 24]
e=[]
for i in l:
    if i%2==0:
        e.append(i)
e

[2, 4, 6, 8, 6, 8, 0, 12, 24]

In [77]:
# 26. Convert a list of strings to a list of integers.
l=['1','2','3','4','5']
n=[]
for i in l:
    n.append(int(i))
n

[1, 2, 3, 4, 5]

In [78]:
# 27. Convert a list of integers to a list of strings.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 5, 5, 6, 7, 8, 9, 0, 11, 12, 24]
n=[]
for i in l:
    n.append(str(i))
print(n)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '5', '5', '5', '6', '7', '8', '9', '0', '11', '12', '24']

In [79]:
# 28. Flatten a nested list.
n=[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14], [15, 16, 17, 18, 19], [20, 21, 22, 23, 24]]
l=[]
for i in n:
    for j in i:
        l.append(j)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [80]:
# 29. Create a list of the first 10 Fibonacci numbers.
f=[0,1]

for i in range(0,8):
    c=f[i]+f[i+1]
    f.append(c)

f

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [81]:
# 30. Check if a list is sorted.
l=[1,4,8,0,3,7]

if l == sorted(l):
    print("list is sorted")
else:
    print("list is not sorted")

list is not sorted

In [82]:
# 31. Rotate a list to the left by `n` positions.

n=4
l = [1, 4, 6,8,3, 7, 2]
lr = l[n:] + l[:n]
 
lr

[3, 7, 2, 1, 4, 6, 8]

In [83]:
# 32. Rotate a list to the right by `n` positions.

n=4
l = [1, 4, 6,8,3, 7, 2]
rr = l[-n:] + l[:-n]
rr

[8, 3, 7, 2, 1, 4, 6]

In [84]:
# 33. Create a list of prime numbers up to 50.
prime_list = []

for i in range(1, 50):
    temp=[]
    for j in range(2,i-1):
        b=i%j
        temp.append(b)
    result=1
    for x in temp:
        result=result*x
    if result !=0:
        prime_list.append(i)
        
        
        
prime_list

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [85]:
# 34. Split a list into chunks of size `n`.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 5, 5, 6, 7, 8, 9, 0, 11, 12, 24]
n = 5
for i in range(0, len(l), n):
    x = i
    print(l[x:x+n])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 5]
[5, 5, 6, 7, 8]
[9, 0, 11, 12, 24]

In [86]:
# 35. Find the second largest number in a list.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 5, 5, 6, 7, 8, 9, 0, 11, 12, 24]
p=[]
for i in l:
    if i != max(l):
        p.append(i)
max(p)

12

In [87]:
# 36. Replace every element in a list with its square.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 5, 5, 6, 7, 8, 9, 0, 11, 12, 24]

for i in range(0,len(l)):
    s=l[i]*l[i]
    l[i]=s
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 25, 25, 25, 36, 49, 64, 81, 0, 121, 144, 576]

In [88]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 5, 5, 6, 7, 8, 9, 0, 11, 12, 24]
d={}
for i in range(0,len(l)):
    d[l[i]]=i
print(d)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 11, 6: 12, 7: 13, 8: 14, 9: 15, 0: 16, 11: 17, 12: 18, 24: 19}

In [89]:
# 38. Shuffle the elements of a list randomly.
import random
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 5, 5, 6, 7, 8, 9, 0, 11, 12, 24]
random.shuffle(l)
l

[5, 8, 9, 7, 4, 5, 12, 6, 6, 5, 3, 11, 7, 0, 9, 2, 8, 24, 1, 5]

In [90]:
# 39. Create a list of the first 10 factorial numbers.
l=[]
for i in range(2,12):
    r=1
    for j in range(1,i):
        r=r*j
    l.append(r)
l

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [91]:
# 40. Check if two lists have at least one element in common.
l1=[1,2,3,4,5,6,7,8,9,5]
l2=[5,5,6,7,8,9,0,11,12,24]
c=[]
for i in l1:
    if i in l2:
        c.append(i)
if len(c)==0:
    print("two list does not have any elements in common")
else:
    print("two list does have element/s in common and these are/ is: ", c)

two list does have element/s in common and these are/ is:  [5, 6, 7, 8, 9, 5]

In [92]:
# 41. Remove all elements from a list.
l=[5,5,6,7,8,9,0,11,12,24]
l.clear()
l

[]

In [93]:
#42. Replace negative numbers in a list with 0.
l=[5,5,6,7,-8,9,0,-11,12,24]

for i in range(0,len(l)):
    if l[i]<0:
        l[i]=0
l

[5, 5, 6, 7, 0, 9, 0, 0, 12, 24]

In [94]:
# 43. Convert a string into a list of words.
s="My name is satya"
s.split()

['My', 'name', 'is', 'satya']

In [95]:
# 44. Convert a list of words into a string.
l=['My', 'name', 'is', 'satya']
' '.join(l)

'My name is satya'

In [96]:
# 45. Create a list of the first `n` powers of 2.
n=10
l=[]
for i in range(n):
    k=2**i
    l.append(k)
l

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [97]:
# 46. Find the longest string in a list of strings.
l=['Myaaaa', 'name', 'is', 'satya']
k=len(l[0])
for i in range(0,len(l)):
    if len(l[i])>=k:
        k=len(l[i])
        out=l[i]
out

'Myaaaa'

In [98]:
l[0]

'Myaaaa'

In [99]:
# 47. Find the shortest string in a list of strings.
l=['Myq', 'name', 'is', 'satya']
k=len(l[0])
for i in range(0,len(l)):
    if len(l[i])<k:
        k=len(l[i])
        out=l[i]
out

'is'

In [226]:
# 48. Create a list of the first `n` triangular numbers.
n=10
l=[]
for i in range(n):
    k=i*(i+1)//2
    l.append(k)
l

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45]

In [101]:
# 49. Check if a list contains another list as a subsequence.

def check_exists(l, s):
    check = True
    for i in s:
        try:
            index = l.index(i) 
            l = l[index+1:]
        except ValueError:
            check = False 
            break 
    return check
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 5, 5, 6, 7, 8, 9, 0, 11, 12, 24]
s=[4,5,6,7,8,9,1]

if check_exists(l,s)== True:
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list does not contain the subsequence.

In [102]:
# 50. Swap two elements in a list by their indices.
l=['My', 'name', 'is', 'satya']
k=l[2]
l[2]=l[1]
l[1]=k
l

['My', 'is', 'name', 'satya']

Tuple Based Practice Problem :
1. Create a tuple with integers from 1 to 5.
2. Access the third element of a tuple.
3. Find the length of a tuple without using the `len()` function.
4. Count the occurrences of an element in a tuple.    
5. Find the index of the first occurrence of an element in a tuple.
6. Check if an element exists in a tuple.
7. Convert a tuple to a list.
8. Convert a list to a tuple.
9. Unpack the elements of a tuple into variables.
10. Create a tuple of even numbers from 1 to 10.
11. Create a tuple of odd numbers from 1 to 10.
12. Concatenate two tuples.
13. Repeat a tuple three times.
14. Check if a tuple is empty.
15. Create a nested tuple.
16. Access the first element of a nested tuple.
17. Create a tuple with a single element.
18. Compare two tuples.
19. Delete a tuple.
20. Slice a tuple.
21. Find the maximum value in a tuple.
22. Find the minimum value in a tuple.
23. Convert a string to a tuple of characters.
24. Convert a tuple of characters to a string.
25. Create a tuple from multiple data types.
26. Check if two tuples are identical.
27. Sort the elements of a tuple.
28. Convert a tuple of integers to a tuple of strings.
29. Convert a tuple of strings to a tuple of integers.
30. Merge two tuples.
31. Flatten a nested tuple.
32. Create a tuple of the first 5 prime numbers.
33. Check if a tuple is a palindrome.
34. Create a tuple of squares of numbers from 1 to 5.
35. Filter out all even numbers from a tuple.
36. Multiply all elements in a tuple by 2.
37. Create a tuple of random numbers.
38. Check if a tuple is sorted.
39. Rotate a tuple to the left by `n` positions.
40. Rotate a tuple to the right by `n` positions.
41. Create a tuple of the first 5 Fibonacci numbers.
42. Create a tuple from user input.
43. Swap two elements in a tuple.
44. Reverse the elements of a tuple.
45. Create a tuple of the first `n` powers of 2.
46. Find the longest string in a tuple of strings.
47. Find the shortest string in a tuple of strings.
48. Create a tuple of the first `n` triangular numbers.
49. Check if a tuple contains another tuple as a subsequence.
50. Create a tuple of alternating 1s and 0s of length `n`.

In [103]:
# 1. Create a tuple with integers from 1 to 5.
t=(1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [104]:
#2. Access the third element of a tuple.
t=(1,2,3,4,5)
t[2]

3

In [105]:
# 3. Find the length of a tuple without using the `len()` function.
t=(1,2,3,4,5)
for i in t:
    l=t.index(i)
l+1

5

In [106]:
# 4. Count the occurrences of an element in a tuple.    

t=(1,2,3,4,5,5,5,6,6)
n=6

count=0
for i in t:
    if i==n:
        count=count+1
count

2

In [107]:
# 5. Find the index of the first occurrence of an element in a tuple.
t=(1,2,3,4,5,5,5,6,6)
n=8
t[n]

6

In [108]:
#6.Check if an element exists in a tuple.
t=(1,2,3,4,5,5,5,6,6)
n=8

if n in t:
    print("The element is present")
else:
    print("The element is not present")

The element is not present

In [109]:
# 7. Convert a tuple to a list.
t=(1,2,3,4,5,5,5,6,6)
list(t)

[1, 2, 3, 4, 5, 5, 5, 6, 6]

In [110]:
#8. Convert a list to a tuple.
l=[1, 2, 3, 4, 5, 5, 5, 6, 6]
tuple(l)

(1, 2, 3, 4, 5, 5, 5, 6, 6)

In [111]:
# 9. Unpack the elements of a tuple into variables.
t=(1, 2, 3, 4, 5)
a,b,c,d,e=t
print(a,b,c,d,e)

1 2 3 4 5

In [112]:
# 10. Create a tuple of even numbers from 1 to 10.

t=[]
for i in range(1,11):
    if i%2==0:
        t.append(i)
tp=tuple(t)
tp

(2, 4, 6, 8, 10)

In [113]:
# 11. Create a tuple of odd numbers from 1 to 10.

t=[]
for i in range(1,11):
    if i%2!=0:
        t.append(i)
tp=tuple(t)
tp

(1, 3, 5, 7, 9)

In [114]:
# 12. Concatenate two tuples.
a=(1,2,3,4)
b=(4,6,7,8,9)
c=a+b
c

(1, 2, 3, 4, 4, 6, 7, 8, 9)

In [115]:
# 13. Repeat a tuple three times.
a=(1,2,3,4)
a*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [116]:
# 14. Check if a tuple is empty.
a=(45,88)
if a==():
    print('its empty')
else:
    print ('its not empty')

its not empty

In [117]:
# 15. Create a nested tuple.
t=(1,2,3,(4,5,6,(7,8,9)))
t

(1, 2, 3, (4, 5, 6, (7, 8, 9)))

In [118]:
# 16. Access the first element of a nested tuple.
t=((1,2,3),(4,5,6,(7,8,9)))
t[0]

(1, 2, 3)

In [119]:
# 17. Create a tuple with a single element.
t=(1,)
type(t)
t

(1,)

In [120]:
# 18. Compare two tuples.
t1=(1,2,3)
t2=(1,2,3,4)

if t1==t2:
    print("both tuples are same")
else:
    print("both tuples are different")

both tuples are different

In [121]:
# 19. Delete a tuple.
t1=(1,2,3)
del t1
t1

NameError: name 't1' is not defined

In [122]:
# 20. Slice a tuple.
t=(1,2,3,(4,5,6,(7,8,9)))
s=t[3:4]
s

((4, 5, 6, (7, 8, 9)),)

In [123]:
# 21. Find the maximum value in a tuple.
# 22. Find the minimum value in a tuple.
t=(1,2,3,4)
print("maxium:",max(t),"minimum:",min(t))

maxium: 4 minimum: 1

In [124]:
# 23. Convert a string to a tuple of characters.
l=[]
string="aall is ewll"

for i in string:
    l.append(i)
t=tuple(l)
t

('a', 'a', 'l', 'l', ' ', 'i', 's', ' ', 'e', 'w', 'l', 'l')

In [125]:
# 24. Convert a tuple of characters to a string.
t=('a', 'a', 'l', 'l', ' ', 'i', 's', ' ', 'e', 'w', 'l', 'l')
''.join(t)

'aall is ewll'

In [126]:
# 25. Create a tuple from multiple data types.
t=('satya',123,True,3.52)
t

('satya', 123, True, 3.52)

In [127]:
# 26. Check if two tuples are identical.
t1=(1,2,3)
t2=(1,3,2)

if t1==t2:
    print("tuples are Identical")
else:
    print("Tuples are not Identical")

Tuples are not Identical

In [128]:
# 27. Sort the elements of a tuple.
t=(1,2,3,7,6,5,4,3)
t1=tuple(sorted(t))
t1

(1, 2, 3, 3, 4, 5, 6, 7)

In [129]:
# 28. Convert a tuple of integers to a tuple of strings.
t=(1,2,3,4,5)
l=[]
for i in t:
    s=str(i)
    l.append(s)
tuple(l)

('1', '2', '3', '4', '5')

In [130]:
# 29. Convert a tuple of strings to a tuple of integers.
t=('1', '2', '3', '4', '5')
l=[]
for i in t:
    s=int(i)
    l.append(s)
tuple(l)

(1, 2, 3, 4, 5)

In [131]:
# 30. Merge two tuples.
t1=(1,2,3)
t2=(1,2,3,4)

t=t1+t2
t

(1, 2, 3, 1, 2, 3, 4)

In [132]:
# 31. Flatten a nested tuple.
t=(1,2,3,(4,5,6,(7,8,9)))
l=[]
def flat_tup(tup):
    
    for i in tup:
        if type(i)!=tuple:
            l.append(i)
        else:
            flat_tup(i)
    return tuple(l)
flat_tup(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [133]:
# 32. Create a tuple of the first 5 prime numbers.
prime_list = []

for i in range(1, 50):
    temp=[]
    for j in range(2,i-1):
        b=i%j
        temp.append(b)
    result=1
    for x in temp:
        result=result*x
    if result !=0:
        if len(prime_list)>4:
            break
        else:
            prime_list.append(i)
            
tuple(prime_list)

(1, 2, 3, 5, 7)

In [134]:
# 33. Check if a tuple is a palindrome.
t=(1,3,4,3,1,1)
if t==t[::-1]:
    print('tuple is a palindrome')
else:
    print('tuple is a not palindrome')

tuple is a not palindrome

In [135]:
# 34. Create a tuple of squares of numbers from 1 to 5.

l=[]
for i in range(1,6):
    x=i*i
    l.append(x)
tuple(l)

(1, 4, 9, 16, 25)

In [136]:
# 35. Filter out all even numbers from a tuple.
l=[]
t=(1,3,4,3,1,1,6,8,9,4)

for i in t:
    if i%2==0:
        l.append(i)
tuple(l)

(4, 6, 8, 4)

In [137]:
#36. Multiply all elements in a tuple by 2.
t=(1,3,4,3,1,1,6,8,9,4)
l=[]
for i in t:
    l.append(i*2)
tuple(l)

(2, 6, 8, 6, 2, 2, 12, 16, 18, 8)

In [138]:
# 37. Create a tuple of random numbers.
import random
 
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(1,90))
tuple(rand_list)

(90, 17, 55, 59, 48, 21, 72, 29, 10, 42)

In [139]:
# 38. Check if a tuple is sorted.
t=(1,3,4,3,1,1,6,8,9,4)
if t==sorted(t):
    print("tuple is sorted")
else:
    print("tuple is not sorted")

tuple is not sorted

In [140]:
# 39. Rotate a tuple to the left by `n` positions.

n=4
l = (1, 4, 6,8,3, 7, 2)
lr = l[n:] + l[:n]
 
lr

(3, 7, 2, 1, 4, 6, 8)

In [141]:
# 40. Rotate a tuple to the right by `n` positions.
n=4
l = (1, 4, 6,8,3, 7, 2)
rr = l[-n:] + l[:-n]
rr

(8, 3, 7, 2, 1, 4, 6)

In [142]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
l=[0,1]

for i in range(1,4):
    x=l[-2]+l[-1]
    l.append(x)
l

[0, 1, 1, 2, 3]

In [151]:
# 42. Create a tuple from user input.
x=input("Please enter values with commas:")
l=x.split(',')
tuple(l)

Please enter values with commas:i, want,to,play,foot,ball

('i', ' want', 'to', 'play', 'foot', 'ball')

In [152]:
# 43. Swap two elements in a tuple.
t = (1,2,3,4,5,6,7)

in1=2
in2=3
k=list(t)
temp=k[in1]
k[in1]=k[in2]
k[in2]=temp
tuple(k)

(1, 2, 4, 3, 5, 6, 7)

In [153]:
# 44. Reverse the elements of a tuple.
l = (1, 4, 6,8,3, 7, 2)
l[::-1]

(2, 7, 3, 8, 6, 4, 1)

In [154]:
# 45. Create a tuple of the first `n` powers of 2.
n=10
l=[]
for i in range(n):
    k=2**i
    l.append(k)
tuple(l)

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [155]:
# 46. Find the longest string in a tuple of strings.
t=('satya','brat','apple','bananna')

k=len(t[0])
for i in range(0,len(t)):
    if len(t[i])>k:
        k=len(t[i])
        out=t[i]
out

'bananna'

In [156]:
# 47. Find the shortest string in a tuple of strings.
t=('satya','brat','apple','bananna')

k=len(t[0])
for i in range(0,len(t)):
    if len(t[i])<k:
        k=len(t[i])
        out=t[i]
out

'brat'

In [225]:
# 48. Create a tuple of the first `n` triangular numbers.
n=10
l=[]
for i in range(n):
    k=i*(i+1)//2
    l.append(k)
tuple(l)

(0, 1, 3, 6, 10, 15, 21, 28, 36, 45)

In [158]:
# 49. Check if a tuple contains another tuple as a subsequence.
def check_exists(l, s):
    check = True
    for i in s:
        try:
            index = l.index(i) 
            l = l[index+1:]
        except ValueError:
            check = False 
            break 
    return check
l=(1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 5, 5, 6, 7, 8, 9, 0, 11, 12, 24)
s=(4,5,6,7,8,9,1)

if check_exists(l,s)== True:
    print("Main tuple contains the subsequence.")
else:
    print("Main tuple does not contain the subsequence.")

Main tuple does not contain the subsequence.

In [159]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n=10
l=[]
for i in range(0,n):
    if len(l)==0:
        l.append(0)
    elif l[-1]==1:
        l.append(0)
    else:
        l.append(1)
l

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

Set Based Practice Problem :
1. Create a set with integers from 1 to 5.
2. Add an element to a set.
3. Remove an element from a set.
4. Check if an element exists in a set.
5. Find the length of a set without using the `len()` function.
6. Clear all elements from a set.
7. Create a set of even numbers from 1 to 10.
8. Create a set of odd numbers from 1 to 10.
9. Find the union of two sets.
10. Find the intersection of two sets.
11. Find the difference between two sets.
12. Check if a set is a subset of another set.
13. Check if a set is a superset of another set.
14. Create a set from a list.
15. Convert a set to a list.
16. Remove a random element from a set.
17. Pop an element from a set.
18. Check if two sets have no elements in common.
19. Find the symmetric difference between two sets.
20. Update a set with elements from another set.
21. Create a set of the first 5 prime numbers.
22. Check if two sets are identical.
23. Create a frozen set.
24. Check if a set is disjoint with another set.
25. Create a set of squares of numbers from 1 to 5.
26. Filter out all even numbers from a set.
27. Multiply all elements in a set by 2.
28. Create a set of random numbers.
29. Check if a set is empty.
30. Create a nested set (hint: use frozenset).
31. Remove an element from a set using the discard method.
32. Compare two sets.
33. Create a set from a string.
34. Convert a set of strings to a set of integers.
35. Convert a set of integers to a set of strings.
36. Create a set from a tuple.
37. Convert a set to a tuple.
38. Find the maximum value in a set.
39. Find the minimum value in a set.
40. Create a set from user input.
41. Check if the intersection of two sets is empty.
42. Create a set of the first 5 Fibonacci numbers.
43. Remove duplicates from a list using sets.
44. Check if two sets have the same elements, regardless of their count.
45. Create a set of the first `n` powers of 2.
46. Find the common elements between a set and a list.
47. Create a set of the first `n` triangular numbers.
48. Check if a set contains another set as a subset.
49. Create a set of alternating 1s and 0s of length `n`.
50. Merge multiple sets into one.

In [160]:
# 1. Create a set with integers from 1 to 5.
s=set()
for i in range(1,6):
    s.add(i)
s

{1, 2, 3, 4, 5}

In [161]:
# 2. Add an element to a set.
s={1, 2, 3, 4, 5}
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [162]:
# 3. Remove an element from a set.
s={1, 2, 3, 4, 5, 6}
s.remove(3)
s

{1, 2, 4, 5, 6}

In [163]:
# 4. Check if an element exists in a set.
s={1, 2, 3, 4, 5, 6}
n=3

if n in s:
    print("element exists in the set")
else:
    print("element does not exists in the set")

element exists in the set

In [164]:
# 5. Find the length of a set without using the `len()` function.
s={1, 2, 3, 4, 5, 6}
length=0

for i in s:
    length=length+1
length

6

In [165]:
# 6. Clear all elements from a set.
s={1, 2, 3, 4, 5, 6}
s.clear()
s

set()

In [166]:
# 7. Create a set of even numbers from 1 to 10.
s=set()
for i in range(1,11):
    if i%2==0:
        s.add(i)
s

{2, 4, 6, 8, 10}

In [167]:
# 7. Create a set of even numbers from 1 to 10.
s=set()
for i in range(1,11):
    if i%2!=0:
        s.add(i)
s

{1, 3, 5, 7, 9}

In [168]:
# 9. Find the union of two sets.
s1={1,2,3,4}
s2={3,4,6,7}
s1.union(s2)

{1, 2, 3, 4, 6, 7}

In [169]:
# 10. Find the intersection of two sets.
s1={1,2,3,4}
s2={3,4,6,7}

s1.intersection(s2)

{3, 4}

In [170]:
# 11. Find the difference between two sets.
s1={1,2,3,4}
s2={3,4,6,7}
s1-s2

{1, 2}

In [171]:
# 12. Check if a set is a subset of another set.
s1={1,2,3,4}
s2={3,4}
s2.issubset(s1)

True

In [172]:
# 13. Check if a set is a superset of another set.
s1={1,2,3,4}
s2={3,4}
s1.issuperset(s2)

True

In [173]:
# 14. Create a set from a list.
l=[1,2,3,4]
set(l)

{1, 2, 3, 4}

In [174]:
# 15. Convert a set to a list.
s={1, 2, 3, 4}
list(s)

[1, 2, 3, 4]

In [175]:
# 16. Remove a random element from a set.
import random 

s = {1, 2, 3, 4, 5}

rs = random.choice(list(s))

s.remove(rs)
s

{1, 2, 4, 5}

In [176]:
# 17. Pop an element from a set.
s = {1, 2, 3, 4, 5}
s.pop()
s

{2, 3, 4, 5}

In [177]:
# 18. Check if two sets have no elements in common.
s1={1,2,3,4,5,6,7}
s2={9,8,11,12,56,6,7}
test=[]
for i in s1:
    if i in s2:
        test.append(i)
for j in s2:
    if j in s1:
        test.append(j)
if len(test)==0:
    print("the two sets have no elements in common")
else:
    print("the two sets have elements in common", set(test))

the two sets have elements in common {6, 7}

In [178]:
# 19. Find the symmetric difference between two sets.
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [179]:
# 20. Update a set with elements from another set.
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1.update(s2)
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [180]:
# 21. Create a set of the first 5 prime numbers.
s=set()

for i in range(1,100):
    temp=[]
    for j in range(2,i-1):
        b=i%j
        temp.append(b)
    result=1
    for x in temp:
        result=result*x
    if result !=0:
        if len(s)>4:
            break
        else:
            s.add(i)
s

{1, 2, 3, 5, 7}

In [181]:
# 22. Check if two sets are identical.
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

if s1==s2:
    print("two sets are identical")
else:
    print("two sets are not identical")

two sets are not identical

In [182]:
# 23. Create a frozen set
s1 = {1, 2, 3, 4, 5}
frozenset(s1)

frozenset({1, 2, 3, 4, 5})

In [183]:
# 24. Check if a set is disjoint with another set.
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1.isdisjoint(s2)

False

In [184]:
# 25. Create a set of squares of numbers from 1 to 5.
s=set()
for i in range(1,6):
    a=i*i
    s.add(a)
s

{1, 4, 9, 16, 25}

In [185]:
# 26. Filter out all even numbers from a set.
s = {1, 2, 3, 4, 5,6,7,8,9,10}
p=set()

for i in s:
    if i%2==0:
        p.add(i)
p

{2, 4, 6, 8, 10}

In [186]:
# 27. Multiply all elements in a set by 2.
s = {1, 2, 3, 4, 5,6,7,8,9,10}
k = set()

for i in s:
    a=i*2
    k.add(a)
k

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [187]:
# 28. Create a set of random numbers.
import random
n = 5
s = set()

for i in range(n):
    rn = random.randint(1, 100)
    s.add(rn)

s

{7, 24, 29, 37, 79}

In [188]:
# 29. Check if a set is empty.
s = {1, 2, 3, 4, 5,6,7,8,9,10}

if not s:
    print("My set is empty")
else:
    print("My set is not empty")

My set is not empty

In [189]:
# 30. Create a nested set (hint: use frozenset).

s1 = {1, 2, 3, 4, 5}
s2 = {6, 7, 8, 9, 10}

a = frozenset(s1)
b = frozenset(s2)

c = {a, b}

c

{frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [190]:
# 31. Remove an element from a set using the discard method.

s = {1, 2, 3, 4, 5}
s.discard(3)
s

{1, 2, 4, 5}

In [191]:
# 32. Compare two sets.
s1 = {1, 2, 3, 4, 5}
s2 = {6, 7, 8, 9, 10}

if s1==s2:
    print("both sets are same")
else:
    print("both sets are different")

both sets are different

In [192]:
# 33. Create a set from a string.
st="33. Create a set from a string."
s=set()
for i in st.split():
    s.add(i)

In [196]:
# 34. Convert a set of strings to a set of integers.
s = {'1','2', '2','3', '3', '4', '5'}
t=set()
for i in s:
    a=int(i)
    t.add(a)
t

{1, 2, 3, 4, 5}

In [197]:
# 35. Convert a set of integers to a set of strings.

s = {1, 2, 3, 4, 5}
t=set()
for i in s:
    a=str(i)
    t.add(a)
t

{'1', '2', '3', '4', '5'}

In [198]:
# 36. Create a set from a tuple.
t=(1,2,3,4,5)
s=set(t)
s

{1, 2, 3, 4, 5}

In [200]:
# 37. Convert a set to a tuple.
s={1,2,3,4,5}
t=tuple(s)
t

(1, 2, 3, 4, 5)

In [201]:
# 38. Find the maximum value in a set.
s={1,2,3,4,5}
max(s)

5

In [202]:
# 39. Find the minimum value in a set.
s={1,2,3,4,5}
min(s)

1

In [207]:
# 40. Create a set from user input.
s=set()

while True:
    n=input("Enter the values you want in a set:(enter T to terminate)")
    if n == "T" or n=="t":
        break
    s.add(n)
s

Enter the values you want in a set:(enter T to terminate)satya
Enter the values you want in a set:(enter T to terminate)ram
Enter the values you want in a set:(enter T to terminate)kumar
Enter the values you want in a set:(enter T to terminate)1
Enter the values you want in a set:(enter T to terminate)2
Enter the values you want in a set:(enter T to terminate)3
Enter the values you want in a set:(enter T to terminate)t

{'1', '2', '3', 'kumar', 'ram', 'satya'}

In [208]:
# 41. Check if the intersection of two sets is empty.
s1 = {1, 2, 3, 4, 5}
s2 = {6, 7, 8, 9, 10}

if len(s1.intersection(s2))==0:
    print("intersection of two sets is empty")
else:
    print("intersection of two sets is not empty")

intersection of two sets is empty

In [215]:
# 42. Create a set of the first 5 Fibonacci numbers.
s=set()
a=0
b=1

for i in range(6):
    s.add(a)
    a,b=b,a+b
s

{0, 1, 2, 3, 5}

In [216]:
# 43. Remove duplicates from a list using sets.
l=[1,2,3,3,3,4,5,5,6,6]
set(l)

{1, 2, 3, 4, 5, 6}

In [220]:
# 44. Check if two sets have the same elements, regardless of their count.
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 2, 3, 3,4,5}
check=[]

def chk_two_sets(s1,s2):
    for i in s1:
        if i not in s2:
            check.append(i)
    for j in s2:
        if j not in s1:
            check.append(j)
    if len(check)==0:
        print("two sets have the same elements")
    else:    
        print("two sets does not have the same elements")
chk_two_sets(s1,s2)

two sets have the same elements

In [221]:
# 45. Create a set of the first `n` powers of 2.
n=int(input("Enter a number "))
s=set()

for i in range(n):
    k=2**i
    s.add(k)
s

Enter a number 5

{1, 2, 4, 8, 16}

In [224]:
# 46. Find the common elements between a set and a list.
s = {1, 2, 3, 4, 5}
l = (1, 2, 9, 3, 11,7,6)

def find_com_elmt(s,l):
    c=[]
    for i in s:
        if i in l:
            c.append(i)
    for j in l:
        if j in s:
            c.append(i)
    return set(c)

find_com_elmt(s,l)

{1, 2, 3, 5}

In [227]:
# 47. Create a set of the first `n` triangular numbers.
n=10
s=set()
for i in range(n):
    k=i*(i+1)//2
    s.add(k)
s

{0, 1, 3, 6, 10, 15, 21, 28, 36, 45}

In [229]:
# 48. Check if a set contains another set as a subset.
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 2, 3, 3,4,5}

if s1.issubset(s2) == True:
    print("set contains another set as a subset")
else:
    print("set does not contains another set as a subset")

set contains another set as a subset

In [245]:
# 49. Create a set of alternating 1s and 0s of length `n`.

Answer: Not possible in set as it removes duplicates if not created manually

SyntaxError: invalid syntax (388008649.py, line 3)

In [248]:
# 50. Merge multiple sets into one.
s1 = {1, 2, 3, 4, 5}
s2 = {6, 7, 8, 9, 10}
s3= {11,12,13,14,15,16,17,18}

s1|s2|s3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18}